<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <!-- <script src="JStuff.js"></script>  -->
        <script src="https://unpkg.com/vue"></script>
        <title> Codebot | Challenges</title>
        <link rel="stylesheet" href="../static/css/styles.css" />
    </head>

    <script src="static/js/build.js"></script>

    <body>
        <header>
          <div class="container">
              <div id="branding">
                  <a href="challenges"><img id="favicon" src="../static/assets/favicon.png" /> </a>
                  <h2> Welcome to <span>Codebot!</span></h2>
              </div>
              <nav>
                  <ul>
                      <li class="current"><a href="level0">Home</a></li>
                      <!-- TODO: Send back to level player was doing instead of level0 -->
                  </ul>
              </nav>
          </div>
      </header>

        <section id="main">
                <div id="challengesList">
                  <a href="..."><img src="../static/assets/grass/grass1.png" />
                    <div class="text-wrapper"><h3>Level 1</h3></div></a>
                  <a href="..."><img src="../static/assets/grass/grass2.png" />
                    <div class="text-wrapper"><h3>Level 2</h3></div></a>
                  <a href="..."><img src="../static/assets/grass/grass4.png" />
                    <div class="text-wrapper"><h3>Level 3</h3></div></a>
                  <a href="..."><img src="../static/assets/grass/grass1.png" />
                    <div class="text-wrapper"><h3>Level 4</h3></div></a>
                  <a href="..."><img src="../static/assets/grass/grass2.png" />
                    <div class="text-wrapper"><h3>Level 5</h3></div></a>
                </div>
        </section>

        <!--
        <footer>
        </footer>
        -->

    </body>
</html>
