<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <!-- <script src="JStuff.js"></script>  -->
        <script src="https://unpkg.com/vue"></script>
        <title> Codebot | Challenges</title>
        <link rel="stylesheet" href="../static/css/styles.css" />
    </head>

    <script src="static/js/build.js"></script>

    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <img id="favicon" src="../static/assets/favicon.png" />
                    <h1> Welcome to <span>Codebot!</span></h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="level0">Home</a></li>
                        <li class="current"><a href="challenges">Challenges</a></li>
                        <li><a href="myProfile">My Profile</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Everything for the code and the game display -->
        <section id="main">
          <!-- TODO: Remember to wrap the images in an <a> tag with href if you wanted
                     the images to reference a link to a challenge
               TODO: There's probably a better way to have all these images than all
                     the divs below. This is pretty much hardcoded so if we add challenges
                     we'll need to add more tags... hmmmm
          -->
          <div id="pictureBox">
            <img src="../static/assets/challenges/challenge1.png" />
            <p> <strong>Topic:</strong> Comments</p>
          </div>

          <div id="pictureBox">
            <img src="../static/assets/challenges/challenge2.png" />
            <p> <strong>Topic:</strong> Comments, Objects, Functions</p>
          </div>

          <div id="pictureBox">
            <img src="../static/assets/challenges/challenge3.png" />
            <p> <strong>Topic:</strong> Functions</p>
          </div>

          <div id="pictureBox">
            <img src="../static/assets/challenges/challenge4.png" />
            <p> <strong>Topic:</strong> TBD</p>
          </div>

          <div id="pictureBox">
            <img src="../static/assets/challenges/challenge5.png" />
            <p> <strong>Topic:</strong> TBD</p>
          </div>

        </section>

        <footer>
            <div><p> <strong>COMP-4920</strong> Project - Term 2, 2017 </p></div>
            <div><p>  <strong>Authors</strong> </br> Joshua Lau, Macka Baran, Josh Meredith, Matthieu Capuano </p></div>
            <div><p> Copyright &copy; 2017 </p></div>
        </footer>
    </body>
</html>
