{% extends "layout.html" %}

{% block title %}Challenges{% endblock %}

{% block head_scripts %}
    <script type="text/javascript">
var worlds = {{ worlds | tojson | safe }};
    </script>
{% endblock %}

{% block main %}
    <div id="challengesList">
        <div class="world-challenges" v-for="world in worlds">
            <a v-for="level in world" v-bind:href="'/' + level.tag">
                <img v-bind:src="'../static/assets/' + level.skin + '/ground.png'" />
                <div class="text-wrapper"><h3>{% raw %}{{ level.name }}{% endraw %}</h3></div></a>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script>
var game = new Vue({
    el: "#main",
    data: {
        worlds: worlds
    }
});
    </script>
{% endblock %}
