{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}

{% block main %}
    <div class="container" >
        <div class="row text-center">
            <div class="col">
                <div style="height:2.5vh;"></div>
                <h1
                    style="
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 7.5vh;
                        color: #3a3937;">CODEBOT
                </h1>
                <h4
                    style="
                        padding-left: 1%;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 2.7vh;
                        /*font-style: italic;*/
                        color: #727272;">An Educational Coding Game
                </h4>
                <div style="height:2.5vh;"></div>
                <a href="{{ url_for('level_selector') }}" class="btn btn-lg btn-success" role="button" style="width">
                    PLAY NOW</a>
                <div style="height:2.5vh;"></div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
            <img style="height:55vh;"
                src="{{ url_for('static', filename='assets/global/demo_grey.gif') }}" />
            </div>
        </div>



        <!-- <div class="row">
            <div class="col-lg-3 "></div>
            <div class="col-lg-3">
                <img style="height:84vh;"
                     src="{{ url_for('static', filename='assets/global/codebot.svg') }}" />
            </div>
            <div class="col-lg-3">
                <div style="height:20vh;"></div>
                <!- These are inline because for some reason it wasn't working
                     via stylesheet. Will fix if there's enough time ->
                <h1
                    style="
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 7.5vh;
                        color: #3a3937;">CODEBOT</h1>
                <h4
                    style="
                        padding-left: 1%;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 2.7vh;
                        color: #727272;">An Educational Coding Game</h4>

                <div class="container" style="width: 20vw;">
                    {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('login') }}">
                            <button type="button" class="btn btn-block btn-danger">LOG IN</button>
                        </a>
                        <a href="{{ url_for('signup') }}">
                            <button type="button" class="btn btn-block btn-danger">SIGN UP</button>
                        </a>
                        <button type="button" class="btn btn-block btn-danger">PLAY AS GUEST</button>
                    {% else %}
                        {# TODO: Content for the logged-in user. #}
                        Click "Levels" above to start playing!
                    {% endif %}
                </div>
                <div class="col-lg-3 "></div>
            </div>
        </div> -->
    </div>
    <div class="container" id="preview">
    </div>

{% endblock %}
