<!DOCTYPE html>
<html>
    <head>
        <title>Pass JSON test</title>
    </head>
    <script type="text/javascript" src="static/js/build.js"></script>
    <script>
var grid_data = {{ grid | tojson | safe }};
    </script>
    <script>
var grid = new World.Grid( grid_data.numRows, grid_data.numCols,
    new World.Coord2D( grid_data.goal.x, grid_data.goal.y ),
    new World.Coord2D( grid_data.start.x, grid_data.start.y ),
    World.Direction[ grid_data.startDir ]);

function hello() {
    alert(JSON.stringify(grid));
}
    </script>
    <body>
        <p>Hello, world!</p>
        <button onclick="hello();">Hit me!</button>
    </body>
</html>
