<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/global/favicon.ico') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <!-- TODO: favicon -->
        <title>Codebot | {% block title %}{% endblock %}</title>
    </head>

    {% block head_scripts %}
    {% endblock %}

    <body style="background-color: #d8d8d8">
      <nav class="navbar navbar-default" role="navigation" style="background-color: #3D3C3A;">
        <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <img id="favicon" src="{{ url_for('static', filename='assets/global/banner_2.png') }}"/>
                </a>

                <div class="navbar-header navbar-right">
                  <ul class="nav nabar-nav">
                      <li style="padding: 0.5vw 0.2vw 0 0.2vw;"><input type="text" class="form-control" id="inputsm" placeholder="Username"/></li>
                      <li style="padding: 0.5vw 0.2vw 0 0.2vw;"><input type="password" class="form-control" id="inputsm" placeholder="Password"/></li>

                      {% if current_user.is_authenticated %}
                          Hi {{ current_user.username }}! (<i>
                              <li style="padding: 0.5vw 0.2vw 0 0.2vw"><a href="{{ url_for('logout') }}" class="btn btn-sm btn-success" role="button">Logout</a></li>
                          </i>)
                      {% else %}
                          <li style="padding: 0.5vw 0.2vw 0 0.2vw"><a  href="{{ url_for('login') }}" class="btn btn-sm btn-success" role="button">Login!</a> </li>
                      {% endif %}
                      <li style="padding: 0.5vw 0.2vw 0 0.2vw"><a class="btn btn-sm btn-info" role="button" href="{{ url_for('signup') }}">Sign up!</a></li>
                      <li style="padding: 0.5vw 0.2vw 0 0.2vw"><a class="btn btn-sm btn-primary" role="button" href="{{ url_for('level_selector') }}">Levels</a>
                  </ul>
                </div>
        </div>
      </nav>


        <section id="main">
            <div>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            {% block main %}
            {% endblock %}
        </section>

        {% block body_scripts %}
        {% endblock %}
    </body>
</html>
