<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <script src="https://unpkg.com/vue"></script>

        <link rel="stylesheet" href="/static/css/styles.css" />

        <!-- TODO: favicon -->
        <title>Codebot | {% block title %}{% endblock %}</title>
    </head>

    {% block head_scripts %}
    {% endblock %}

    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <a href="{{ url_for('home') }}">
                        <img id="favicon" src="/static/assets/global/banner.png"/>
                    </a>
                </div>
                <nav>
                    <ul>
                        <li class="current">
                            <a href="{{ url_for('level_selector') }}">Challenges</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="main">
            {% block main %}
            {% endblock %}
        </section>

        {% block body_scripts %}
        {% endblock %}
    </body>
</html>
