{% extends "layout.html" %}

{% block title %}Levels{% endblock %}

{% block main %}
    <div id="challengesList">
        {% for world in worlds %}
            <div class="world-challenges">
                {% for level in world %}
                    <a href="{{ url_for('serve_level', level=level.tag) }}">
                        <img src="{{ url_for('static',
                        filename='assets/{skin}/ground.png'.format(skin=level.skin)) }}" />
                        <div class="text-wrapper">
                            <h3>{{ level.name }}</h3>
                            {% set progress = level_progress.get(level.id) %}
                            {% if progress %}
                                <h3>{{ progress }}</h3>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
