{% extends "layout.html" %}

{% block title %}Sign in{% endblock %}

{% block main %}
    Sign into Codebot!
    {# TODO(junkbot): Error handling #}
    {# TODO: Prettify the form, can use form.username(..., class="css_class") #}
    <form method="POST" action="{{ url_for('signin') }}">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username(size=20) }}
        {{ form.password.label }} {{ form.password(size=20) }}
        <input type="submit" value="Sign in!">
    </form>
{% endblock %}
