{% extends "layout.html" %}

{% from "form_helpers.html" import render_field %}

{% block title %}Signup{% endblock %}

{% block main %}
    Sign up for Codebot!
    {# TODO(junkbot): Error handling #}
    {# TODO: Prettify the form, can use form.username(..., class="css_class") #}
    <form method="POST" action="{{ url_for('signup') }}">
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
        </dl>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
