/* MAIN COLOURS*/
  /*
  Charcoal: #3a3937
  Rust: #b14609
  platinum: #d8d8d8
  */

[v-cloak] {display: none;}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #d8d8d8;
}

.errorUnderline {
    text-decoration: bold;
}

/* Global */
.container {
    width: 90%;
    margin: auto;
    overflow: hidden; /* So that if content goes beyond the div, it is hidden so no scroll bar is shown */
}

.codeContainer {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/** --------------------------------- HEADER ------------------------------- **/
header {
    background: #3a3937;
    color: #ffffff;
    overflow: hidden;
    height: 8vh;
    border-bottom: #800000 2px solid;
}

#inp {
  width: 10vw;
  height: 1.5vw;
  font-size: 20px;
}

#button_h1 {
  width: 5vw;
  height: 1.5vw;
  font-size: 1vw;
}

.current {
  padding-right: 0;
}

header #branding {
    float: left;
    vertical-align: middle;
    /* text-align: center; */
    width: 30%;
    margin-bottom: 0px;
    padding-top: 0.3vw;
    padding-left: 1vw;
    padding-bottom: 0.3vw;
}

header #branding span {
  color: #00BFFF;
}

header #favicon {
  vertical-align: middle;
  height: 6vh;
  float: left;
}

header nav {
    float: right;
    margin-top: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}

header li {
    float: left;
    display: inline;
    padding: 0 1vw 0 1vw;
}

header a {
    color: #C0C0C0;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 1vw;
}

header .current a {
  color: #ddd;
  font-weight: bold;
}

header a:hover {
    color: #cccccc;
    /*font-weight: bold;*/
    /*font-style: normal;*/
}
/** ------------------------------ INDEX ----------------------------------- **/



/** --------------------------- CODE SECTION ------------------------------- **/
form#codeBox {
    /* Takes care of the form itself, padding with exterior, etc. */
    float: left;
    width: 45%;
    padding: 20px;
    text-align: center;
}

form#codeBox fieldset {
  text-align: left;
}

#code_area_wrapper{
    font-family: monospace;
    margin-bottom: 20px;
}

form#codeBox fieldset {
    /* Takes care of settings INSIDE the form */
    height: 100%;
    padding: 0 25px 0 15px;
    margin-bottom: 15px;
    background: #e6e6e6;
}

form#codeBox fieldset legend {
    font-size: 20px;
    text-align: center;
}

form#codeBox textarea {
    width: 100%;
    height: 50vh;
}

form #button_1 {
  height: 5vw;
  width: 200px;
}

form #button_2 {
  height: 30px;
  width: 200px;
  background-color: #00BFFF;
}

/** --------------------------- GRID SECTION ------------------------------- **/
.gridContainer {
    float: right;
    text-align: center;
    width: 40%;
    padding: 10px 50px 10px 10px;
    justify-content: center;
    align-items: center;
}

#grid {
    position: relative;
    width: 500px;
}

.defaultStatus {
  background-color: #c4c4c4;
  border-radius: 10px;
  font-family: monospace;

}

.winStatus {
    background-color: #abf7ab;
    border-radius: 10px;
    font-family: monospace;
}

.lossStatus {
    background-color: #ff816b;
    border-radius: 10px;
    font-family: monospace;
}

#cell {
    width: 100%;
    height: width;
    display: block;
}

table {
    padding: 0;
    width: 100%;
    /*border-collapse: collapse;*/
}


/** ------------------------- CHALLENGES PAGE ------------------------------ **/

#wrapperDiv {
    margin-top: 10px;
    margin-left: 10px;
    /* TODO: Fix it so it's always 10px from right side too */
  }



#challengesList {
    /*
    background: url("../assets/calm.jpg");
    background-size: 100%;
    */
    height: 803px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 0;
    margin: auto;
    text-align: center;
}

#challengesList a {
  text-decoration: none;
  width: 12%;
  display: inline-block;
  -webkit-border-radius: 10px;  /* For compatibility with older browsers */
  opacity: 1;
  margin: 10px;

  /* Works fine but weird
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  */
}

#challengesList a:hover {
    border-color: #00BFFF;
    opacity: 0.8;
}

#challengesList img { /* Edits to this are within (relative to) the border of each image it seems */
    border: 4px solid #35424a;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 100%;
    position: relative;
}

.world-challenges {
    padding: 2%;
}

.text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -88%;
}

.text-wrapper h3 {
    text-align: center;
    color: #00008B;
    font-size: 2vw;
}

/** --------------------------------- FOOTER ------------------------------- **/
footer {
    font-size: 18px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    color: #ffffff;
    background-color: #35424a;
    float: left;
    width: 98%;
    /* TODO: Rright now width: 100% gives a horizontal scroll bar at 100%zoom on chrome
             I think I can fix this by implementing responsiveness elements.. at some point...
             */
}

footer div {
  width: 33%;
  float: left;
}

/** -------------------- MEDIA QUERIES (for responsinveness) ----------------**/
@media(max-width: 1000px){
    header {
        padding-bottom: 5px;
    }

    header #branding,
    header nav,
    header li {
      float: none;
      text-align: center;
      width: 100%;
    }

    header #favicon {
      float:none;
      text-align: center;
    }

    footer, footer div {
      float:none;
      text-align-last: center;
      width: 100%;
    }
}

@media(max-width: 1200px) {
  #main {
    text-align: center;
  }

  #pictureBox {
    float: none;
  }
}
